p {
  font-size: 10px;
}
/* 2. What unit of measurement do I recommend for specifying font-size? (3 characters) */
p {
  font-size: 1em;
}

/* 3. If the specification is 1.5em, the font is to be 150% of the default size. */

p {
  font-size: 1.5em;
}

/* 4. Give me any one of the three alternatives to ems that I mention. (All three words are plurals.) */

/* px em rem */

/* Specify the font size as twice the default size. */
p {
  font-size: 2em;
}

/* 8. How do you say you want it to be 2-1/2 times the default size? */

P {
  font-size: 2.5em;
}

/* 9. Write code specifying any size you like for paragraphs. */

p {
  font-size: 1em;
}

/* 10. Style any size of headings three-quarters of the default size. */

h1 {
  font-size: 0.75em;
}

/* 11. Style paragraphs the same as the default size. */

p {
  font-size: 1em;
}

/* 12. Style the font-size (your choice) for your choice of paragraph or heading. */

p,
h1 {
  font-size: 1 e;
}
